body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #6c7279;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

*,
::before,
::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0 0 10px;
}
/* ?CONTEINER */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* ?HEADER */
.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header__inner {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  align-items: center;
}
/* ?NAV */
.nav {
  display: flex;
  font-size: 13px;
  font-weight: 700;
}
.nav__link {
  margin-left: 50px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.1s linear;
}
.nav__link:first-child {
  margin-left: 0;
}
.nav__link:hover {
  opacity: 1;
}
/* ?INTRO */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  height: 750px;
  background: #2a2d48 url("/assets/introBG.jpg") no-repeat center / cover;
}
.intro__inner {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.intro__title {
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  margin: 0 0 30px;
}
.intro__subtitle {
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 0 80px;
}
/* ?BUTTON */
.btn {
  padding: 14px 40px;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  border: 0;
  cursor: pointer;
  transition: background 0.15s linear;
}
.btn--red {
  background-color: #e84545;
}
.btn--red:hover {
  background-color: #ce2f2f;
}
/* ?FEATURES */
.features {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;
}
.features__item {
  width: 33.33333%;
  text-align: center;
  padding: 0 40px;
  margin: 25px 0;
}
.features__icon {
  margin-bottom: 25px;
}
.features__title {
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.features__text {
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
}
/* ?WORKS */
.works {
  display: flex;
  flex-wrap: wrap;
}
.works__item {
  width: 25%;
  position: relative;
  overflow: hidden;
  height: 350px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
.works__item:hover .works__content {
  opacity: 1;
}
.works__photo {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}
.works__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 69, 69, 0.9);
  opacity: 0;
  transition: opacity 0.2s linear;
}
.works__title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.works__text {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}
/* ?TEAM */
.team {
  margin: 100px 0 70px;
}
.team__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.team__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.team__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.team__name {
  color: #2d3033;
  font-size: 22px;
  margin-bottom: 8px;
}
.team__pos {
  color: #e84545;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.team__text {
  color: #6c7279;
  font-size: 14px;
  line-height: 1.5;
}
